
html, body {
    background-color: #212027;
    color: white;
    text-align: center;
}

.navbar{
    margin: 20px 5px 20px 5px;
    border-radius: 10px;
}

.games{
    display: grid;
    width: 100vw;
    grid-template-columns: auto auto auto auto;
}


.game{
    transition: 0.4s;
    width: 93%;
    border-radius: 10px;
}

.game:hover{
    background-image: linear-gradient(to bottom right, #212027, #474554, #212027);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 98%;
}

.game-image{
    border-radius: 5px;
    width: 100%;
}

.game-title{
    height: 50px;
    width: 190px;

    text-align: left;
    font-weight: bold;
    font-size: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.game-score{
    text-align: center;
    position: relative;
    width: 60px;
    left: 70%;
    top: -19%;
}

/* For tablets */
@media only screen and (max-width: 800px) {
    .games{
        grid-template-columns: auto auto;
    }
}

/* For mobile devices */
@media only screen and (max-width: 550px) {
    .games{
        grid-template-columns: auto;
    }
}

.steam-link{
    padding: 8px;
    border: solid;
    border-color: rgba(255, 255, 255, 0.4);
    color: white;
    text-decoration: none;

    background-image: linear-gradient(to right, #11b1d4,#b03677);
    background-clip: padding-box;
    background-repeat: no-repeat;
    border-radius: 5px;
    
}

.steam-link:hover{
    color: white;

    background-image: linear-gradient(to right, #0d89a5,#621e42);
}

.steam-icon{
    height: 20px;
}

.question{
    padding-top: 5vw;
    height: 95vh;
    width: 100vw;
}

.answers-grid, .answers-linear{
    width: 100%;
    height: 65%;
    display: grid;
    gap: 20px 20px;
    padding-left: 20px;
}

.answers-grid{
    grid-template-columns: auto auto;
}

.answers-linear{
    grid-template-columns: auto;
}

.question-banner{
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    height: 20%;
}

.answer{
    position: relative;
    background-color: #474554;
    border-radius: 10px;
    width: 97%;
    height: 97%;
    transition: 0.3s;
}

.answer input{
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 30%;
    cursor: pointer;
}

.answer label{
    position: absolute;
    /* Center an absolute element, I got help from https://stackoverflow.com/questions/1776915/how-can-i-center-an-absolutely-positioned-element-in-a-div */
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;

}

.answer:hover{
    width: 100%;
    height: 100%;
}