{%extends "layout.html"%}

{%block title%} Quiz {%endblock%}

{%block script%} ./static/quiz.js {%endblock%}

{%block body%}
<form method="post">
    <div class="question">
        <img src="./static/banners/gaming-level.jpg" alt="Image of a person holding a white PS4 controller" class="question-banner">
        <h1 class="question-title">What's your gaming level</h1>
        <div class="answers-grid">
            <div class="answer-grid">
                <input type="radio" name="gaming_level" value="Roockie">
                <label for="gaming_level">Roockie</label>
            </div>

            <div class="answer-grid">
                <input type="radio" name="gaming_level" value="Below Average">
                <label for="gaming_level">Below Average</label>
            </div>

            <div class="answer-grid">
                <input type="radio" name="gaming_level" value="Average">
                <label for="gaming_level">Average</label>
            </div>

            <div class="answer-grid">
                <input type="radio" name="gaming_level" value="Expert">
                <label for="gaming_level">Expert</label>
            </div>
        </div>
    </div>

    <div class="question">
        <img src="https://hips.hearstapps.com/hmg-prod/images/paint-colours-devalue-home-1634716638.jpg" alt="COLOOR" class="question-banner">
        <h1 class="question-title">How many hours do you want to play ? (each day)</h1>
        <div class="three-answers">
            <div class="answer">
                <input type="radio" name="playtime" value="1-2 hours">
                    <label for="playtime">1-2 hours</label>
            </div>
            <div class="answer">
                <input type="radio" name="playtime" value="3-4 hours">
                    <label for="playtime">3-4 hours</label>
            </div>
            <div class="answer">
                <input type="radio" name="playtime" value="5+ hours">
                    <label for="playtime">5+ hours</label>
            </div>
        </div>
    </div>
    
</form>

{%endblock%}